[Unit]
Description=Atlassian Jira
After=network.target

[Service]
Type=forking
User=jira
PIDFile=/opt/atlassian/jira/work/catalina.pid
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh
MemoryLimit=140M
TasksMax=5
Slice=user-1000.slice
Restart=always

[Install]
WantedBy=multi-user.target
